.film-card {
    gap: 10px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 10px;
    background-color: black;
}

.film-card img {
    width: 350px;
}

h2 {
    color: var(--textColor);
    text-align: center;
}

.vote-average {
    display: flex;
    gap: 10px;
    color: var(--ratedColor);
    font-size: 20px;
}

.details {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--inputColor);
    text-align: center;
    height: 30px;
    background-color: var(--textColor);
    width: 300px;
    border-radius: 10px;
    font-weight: bold;
    padding: 20px;
    font-size: 20px;
    cursor: pointer;
}

@media(max-width: 560px) {
    .film-card{
        width: 350px;
    }
    .film-card img {
        width: 300px;
    }
}