.film-card{
    gap: 10px;
    width: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
}
.film-card img{
    width: 500px;
}