.container {
    flex-direction: column;
    margin-top: 10px;
    gap: 30px;
    display: flex;
    align-items: center;
}

.movie-container {
    gap: 30px;
    width: 100vw;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

.title {
    font-size: 30px;
    color: var(--textColor);
}